In [1]:
import pandas

In [2]:
ted = pandas.read_csv('ted_main.csv')

In [3]:
ted.dtypes

comments               int64
description           object
duration               int64
event                 object
film_date              int64
languages              int64
main_speaker          object
name                  object
num_speaker            int64
published_date         int64
ratings               object
related_talks         object
speaker_occupation    object
tags                  object
title                 object
url                   object
views                  int64
dtype: object

In [4]:
ted.ratings.head()

0    [{'id': 7, 'name': 'Funny', 'count': 19645}, {...
1    [{'id': 7, 'name': 'Funny', 'count': 544}, {'i...
2    [{'id': 7, 'name': 'Funny', 'count': 964}, {'i...
3    [{'id': 3, 'name': 'Courageous', 'count': 760}...
4    [{'id': 9, 'name': 'Ingenious', 'count': 3202}...
Name: ratings, dtype: object

In [5]:
type(ted.ratings[0])

str

* notice that data type of 'ratings' data is string not list, we shall convert them into list type first

## 1. Converting and unpacking the rating data

In [6]:
import ast

In [7]:
# literal_eval() allows you to evaluate a string containing a Python literal or container
# unpack the ratings data for the first talk
ast.literal_eval(ted.ratings[0])

[{'id': 7, 'name': 'Funny', 'count': 19645},
 {'id': 1, 'name': 'Beautiful', 'count': 4573},
 {'id': 9, 'name': 'Ingenious', 'count': 6073},
 {'id': 3, 'name': 'Courageous', 'count': 3253},
 {'id': 11, 'name': 'Longwinded', 'count': 387},
 {'id': 2, 'name': 'Confusing', 'count': 242},
 {'id': 8, 'name': 'Informative', 'count': 7346},
 {'id': 22, 'name': 'Fascinating', 'count': 10581},
 {'id': 21, 'name': 'Unconvincing', 'count': 300},
 {'id': 24, 'name': 'Persuasive', 'count': 10704},
 {'id': 23, 'name': 'Jaw-dropping', 'count': 4439},
 {'id': 25, 'name': 'OK', 'count': 1174},
 {'id': 26, 'name': 'Obnoxious', 'count': 209},
 {'id': 10, 'name': 'Inspiring', 'count': 24924}]

In [8]:
# now we have a list (of dictionaries)
type(ast.literal_eval(ted.ratings[0]))

list

In [9]:
# define a function to convert an element in the ratings Series from string to list
def str_to_list(ratings_str):
    return ast.literal_eval(ratings_str)

In [10]:
# create new colunm and store converted rating data 
ted['ratings_list'] = ted.ratings.apply(lambda x: ast.literal_eval(x))

In [11]:
# check the result 
ted.ratings_list.head()

0    [{'id': 7, 'name': 'Funny', 'count': 19645}, {...
1    [{'id': 7, 'name': 'Funny', 'count': 544}, {'i...
2    [{'id': 7, 'name': 'Funny', 'count': 964}, {'i...
3    [{'id': 3, 'name': 'Courageous', 'count': 760}...
4    [{'id': 9, 'name': 'Ingenious', 'count': 3202}...
Name: ratings_list, dtype: object

In [12]:
# check the data type
type(ted.ratings_list[0])

list

## 2. Counting the total number of ratings received by each talk

In [13]:
# expected result (for each talk) is sum of count
ted.ratings_list[0]

[{'id': 7, 'name': 'Funny', 'count': 19645},
 {'id': 1, 'name': 'Beautiful', 'count': 4573},
 {'id': 9, 'name': 'Ingenious', 'count': 6073},
 {'id': 3, 'name': 'Courageous', 'count': 3253},
 {'id': 11, 'name': 'Longwinded', 'count': 387},
 {'id': 2, 'name': 'Confusing', 'count': 242},
 {'id': 8, 'name': 'Informative', 'count': 7346},
 {'id': 22, 'name': 'Fascinating', 'count': 10581},
 {'id': 21, 'name': 'Unconvincing', 'count': 300},
 {'id': 24, 'name': 'Persuasive', 'count': 10704},
 {'id': 23, 'name': 'Jaw-dropping', 'count': 4439},
 {'id': 25, 'name': 'OK', 'count': 1174},
 {'id': 26, 'name': 'Obnoxious', 'count': 209},
 {'id': 10, 'name': 'Inspiring', 'count': 24924}]

In [14]:
# build a function to get the sum of count
def get_num_ratings(list_of_dicts):
    num = 0
    for d in list_of_dicts:
        num = num + d['count']
    return num

In [15]:
# apply function to the first record  
get_num_ratings(ted.ratings_list[0])

93850

In [16]:
# another alternative is to use pd.DataFrame()
pandas.DataFrame(ted.ratings_list[0])['count'].sum()

93850

In [17]:
# use lambda to apply this method
ted['num_ratings'] = ted.ratings_list.apply(lambda x: get_num_ratings(x))

In [18]:
# check the result
ted.num_ratings.head()

0    93850
1     2936
2     2824
3     3728
4    25620
Name: num_ratings, dtype: int64

In [19]:
ted.num_ratings.describe()

count     2550.000000
mean      2436.408235
std       4226.795631
min         68.000000
25%        870.750000
50%       1452.500000
75%       2506.750000
max      93850.000000
Name: num_ratings, dtype: float64

### * for each talk, calculate the average number of ratings it received per day since it was published

In [20]:
ted.published_date.head()

0    1151367060
1    1151367060
2    1151367060
3    1151367060
4    1151440680
Name: published_date, dtype: int64

In [21]:
# dataset documentation for film_date says "Unix timestamp of the filming" , convert them into datetime format
ted['publish_datetime'] = pandas.to_datetime(ted.published_date, unit='s')

In [22]:
# check the result
ted.publish_datetime.head()

0   2006-06-27 00:11:00
1   2006-06-27 00:11:00
2   2006-06-27 00:11:00
3   2006-06-27 00:11:00
4   2006-06-27 20:38:00
Name: publish_datetime, dtype: datetime64[ns]

In [23]:
# check the lastest publishing time, use the day after as the ending timeframe

end_datetime =ted.publish_datetime.max() + pandas.Timedelta(days=1)
end_datetime

Timestamp('2017-09-23 15:00:22')

In [24]:
#check the duration of the first entry
end_datetime - ted.publish_datetime[0]

Timedelta('4106 days 14:49:22')

In [25]:
# calculat the duration in days since its publishing time
ted['duration_days'] = ted.publish_datetime.apply(lambda x: end_datetime - x).dt.days

In [26]:
ted.duration_days.describe()

count    2550.000000
mean     1881.950980
std      1095.445471
min         1.000000
25%       956.750000
50%      1912.500000
75%      2750.500000
max      4106.000000
Name: duration_days, dtype: float64

In [27]:
# average number of ratings it received per day 
ted['avg_num_ratings_per_day'] = ted['num_ratings'] / ted['duration_days']

In [28]:
# check the result
ted.avg_num_ratings_per_day.describe()

count    2550.000000
mean        2.810130
std        13.590593
min         0.054843
25%         0.508753
50%         1.028502
75%         2.290546
max       583.000000
Name: avg_num_ratings_per_day, dtype: float64

## 3. Which occupations deliver the funniest TED talks on average?¶

### * __Count the number of funny ratings¶__

In [29]:
# check ratings (not ratings_list) to see if "Funny" is always a rating type
ted.ratings.str.contains('Funny').value_counts()

True    2550
Name: ratings, dtype: int64

In [30]:
# write a function to count the number of funny ratings
def get_funny_ratings(list_of_dicts):
    for d in list_of_dicts:
        if d['name'] == 'Funny':
            return d['count']

In [31]:
# apply it to every element in the Series
ted['funny_ratings'] = ted.ratings_list.apply(get_funny_ratings)
ted.funny_ratings.head()

0    19645
1      544
2      964
3       59
4     1390
Name: funny_ratings, dtype: int64

In [32]:
# check for missing values
ted.funny_ratings.isna().sum()

0

### * Calculate the percentage of ratings that are funny

In [33]:
ted['funny_rate'] = ted.funny_ratings / ted.num_ratings

In [34]:
# examining the occupations of the funniest talks
ted.sort_values('funny_rate').speaker_occupation.tail(20)

1849                       Science humorist
337                                Comedian
124     Performance poet, multimedia artist
315                                  Expert
1168             Social energy entrepreneur
1468                          Ornithologist
595                  Comedian, voice artist
1534                         Cartoon editor
97                                 Satirist
2297                          Actor, writer
568                                Comedian
675                          Data scientist
21                     Humorist, web artist
194                                Jugglers
2273                    Comedian and writer
2114                    Comedian and writer
173                                Investor
747                                Comedian
1398                               Comedian
685             Actor, comedian, playwright
Name: speaker_occupation, dtype: object

In [35]:
# examine the occupations of the least funny talks
ted.sort_values('funny_rate').speaker_occupation.head(20)

2549               Game designer
1612                   Biologist
612                     Sculptor
998               Penguin expert
593                     Engineer
284               Space activist
1041         Biomedical engineer
1618      Spinal cord researcher
2132    Computational geneticist
442                     Sculptor
426              Author, thinker
458                     Educator
2437      Environmental engineer
1491             Photojournalist
1893     Forensic anthropologist
783             Marine biologist
195                    Kenyan MP
772             HIV/AIDS fighter
788            Building activist
936                Neuroengineer
Name: speaker_occupation, dtype: object

### * Analyze the funny rate by occupation

In [36]:
# calculate the mean funny rate for each occupation
ted.groupby('speaker_occupation').funny_rate.mean().sort_values().tail()

speaker_occupation
Comedian                       0.512457
Actor, writer                  0.515152
Actor, comedian, playwright    0.558107
Jugglers                       0.566828
Comedian and writer            0.602085
Name: funny_rate, dtype: float64

In [37]:
# however, most of the occupations have a sample size of 1
ted.speaker_occupation.describe()

count       2544
unique      1458
top       Writer
freq          45
Name: speaker_occupation, dtype: object

### * Focus on occupations that are well-represented in the data¶

In [38]:
# value_counts() outputs a pandas Series, thus we can use pandas to manipulate the output
occupation_counts = ted.speaker_occupation.value_counts()

In [39]:
# show occupations which appear at least 5 times
occupation_counts[occupation_counts >= 5]

Writer                                        45
Artist                                        34
Designer                                      34
Journalist                                    33
Entrepreneur                                  31
Architect                                     30
Inventor                                      27
Psychologist                                  26
Photographer                                  25
Filmmaker                                     21
Educator                                      20
Author                                        20
Neuroscientist                                20
Economist                                     20
Roboticist                                    16
Philosopher                                   16
Biologist                                     15
Physicist                                     14
Marine biologist                              11
Musician                                      11
Technologist                                  10
Activist                                      10
Global health expert; data visionary          10
Singer/songwriter                              9
Philanthropist                                 9
Behavioral economist                           9
Astronomer                                     9
Historian                                      9
Poet                                           9
Graphic designer                               9
                                              ..
Techno-illusionist                             6
Photojournalist                                6
Singer-songwriter                              6
Reporter                                       6
Legal activist                                 6
Performance poet, multimedia artist            6
Social entrepreneur                            6
Evolutionary biologist                         6
Comedian                                       6
Writer, activist                               6
Climate advocate                               6
Social Media Theorist                          5
Game designer                                  5
Science writer                                 5
Environmentalist, futurist                     5
Paleontologist                                 5
Musician, activist                             5
Producer                                       5
Sound consultant                               5
Cartoonist                                     5
Data scientist                                 5
Physician                                      5
Investor and advocate for moral leadership     5
Chemist                                        5
Violinist                                      5
Researcher                                     5
Chef                                           5
Tech visionary                                 5
Surgeon                                        5
Sculptor                                       5
Name: speaker_occupation, Length: 68, dtype: int64

In [40]:

# save the index of this Series
top_occupations = occupation_counts[occupation_counts >= 5].index
top_occupations

Index(['Writer', 'Artist', 'Designer', 'Journalist', 'Entrepreneur',
       'Architect', 'Inventor', 'Psychologist', 'Photographer', 'Filmmaker',
       'Educator', 'Author', 'Neuroscientist', 'Economist', 'Roboticist',
       'Philosopher', 'Biologist', 'Physicist', 'Marine biologist', 'Musician',
       'Technologist', 'Activist', 'Global health expert; data visionary',
       'Singer/songwriter', 'Philanthropist', 'Behavioral economist',
       'Astronomer', 'Historian', 'Poet', 'Graphic designer', 'Oceanographer',
       'Computer scientist', 'Engineer', 'Futurist', 'Novelist',
       'Social psychologist', 'Astrophysicist', 'Mathematician',
       'Techno-illusionist', 'Photojournalist', 'Singer-songwriter',
       'Reporter', 'Legal activist', 'Performance poet, multimedia artist',
       'Social entrepreneur', 'Evolutionary biologist', 'Comedian',
       'Writer, activist', 'Climate advocate', 'Social Media Theorist',
       'Game designer', 'Science writer', 'Environmentalist, futurist',
       'Paleontologist', 'Musician, activist', 'Producer', 'Sound consultant',
       'Cartoonist', 'Data scientist', 'Physician',
       'Investor and advocate for moral leadership', 'Chemist', 'Violinist',
       'Researcher', 'Chef', 'Tech visionary', 'Surgeon', 'Sculptor'],
      dtype='object')

### * Re-analyze the funny rate by occupation (for top occupations only)

In [41]:
# filter DataFrame to include only those occupations
ted_top_occupations = ted[ted.speaker_occupation.isin(top_occupations)]
ted_top_occupations.shape

(786, 24)

In [42]:
# redo the previous groupby
ted_top_occupations.groupby('speaker_occupation').funny_rate.mean().sort_values().tail(10)

speaker_occupation
Global health expert; data visionary    0.090306
Poet                                    0.107398
Graphic designer                        0.135718
Techno-illusionist                      0.152171
Cartoonist                              0.162120
Data scientist                          0.184076
Producer                                0.202531
Singer/songwriter                       0.252205
Performance poet, multimedia artist     0.306468
Comedian                                0.512457
Name: funny_rate, dtype: float64

### * Extra: for each talk, calculate the most frequent rating

In [43]:
# write a function to return tag name with max rating counts
def get_freq_ratings(list_of_dicts):
    max_counts = 0
    tag = ''
    for d in list_of_dicts:
        if d['count'] > max_counts:
            max_counts = d['count']
            tag = d['name']
    return tag

In [44]:
get_freq_ratings(ted.ratings_list[0])

'Inspiring'

In [45]:
ted['most_freq_rating'] = ted.ratings_list.apply(lambda x: get_freq_ratings(x))

In [46]:
# check the result
ted.most_freq_rating.head(10)

0      Inspiring
1          Funny
2          Funny
3      Inspiring
4    Informative
5      Inspiring
6          Funny
7      Ingenious
8     Persuasive
9      Inspiring
Name: most_freq_rating, dtype: object

In [47]:
# top most frequent rating tags
ted.most_freq_rating.value_counts()

Inspiring       878
Informative     725
Fascinating     263
Funny           163
Beautiful       153
Ingenious       103
Courageous       85
Persuasive       83
Jaw-dropping     53
Unconvincing     23
Longwinded        8
OK                7
Obnoxious         4
Confusing         2
Name: most_freq_rating, dtype: int64

### * Clean the occupation data so that there's only one occupation per talk

In [59]:
ted.speaker_occupation.head(10)

0                                Author/educator
1                               Climate advocate
2                           Technology columnist
3             Activist for environmental justice
4           Global health expert; data visionary
5    Life coach; expert in leadership psychology
6                    Actor, comedian, playwright
7                                      Architect
8               Philosopher, cognitive scientist
9                                 Pastor, author
Name: speaker_occupation, dtype: object

In [53]:
import re

In [62]:
# notice two kinds seperators, check with the 4th records
re.split(",|;", ted.speaker_occupation[4])

['Global health expert', ' data visionary']

In [74]:
# build a function to split the string and return the first value as the major occupation
def get_major_occupation(occupation_string):
    return re.split(",|;",occupation_string)[0]

In [75]:
#test the function
get_major_occupation(ted.speaker_occupation[4])

'Global health expert'

In [78]:
# apply to the whole column
ted['major_occupation'] = ted.speaker_occupation.apply(lambda x: get_major_occupation(str(x)))

In [80]:
ted.major_occupation.sample(10)

2456                   Historian
932          Biomedical engineer
2460                        Band
708                      Skeptic
84           Nature photographer
2410            Social innovator
1183                        Poet
1               Climate advocate
1389            Raptor biologist
254     Animating neurobiologist
Name: major_occupation, dtype: object

In [81]:
# check unique values
ted.major_occupation.value_counts()

Writer                                      64
Artist                                      46
Designer                                    45
Journalist                                  40
Author                                      37
Entrepreneur                                36
Inventor                                    35
Architect                                   33
Psychologist                                31
Neuroscientist                              29
Photographer                                25
Economist                                   24
Philosopher                                 23
Biologist                                   23
Filmmaker                                   22
Musician                                    22
Educator                                    21
Physicist                                   21
Roboticist                                  16
Physician                                   15
Poet                                        14
Technologist                                13
Activist                                    13
Marine biologist                            12
Novelist                                    11
Comedian                                    11
Engineer                                    11
Astronomer                                  11
Philanthropist                              10
Historian                                   10
                                            ..
Innovator and social entrepreneur            1
Global leader                                1
Microroboticist                              1
Programmer                                   1
Educational psychology professor             1
 Chairman of the Cordoba Initiative          1
Environmental economist                      1
Moral philosopher                            1
Technologist and visionary                   1
Mother + ALS Advocate                        1
Political scientist and journalist           1
Filmmaker and Remixer                        1
Behavioral economics founder                 1
Micro-sculptor                               1
Biological engineer                          1
Vision activist                              1
Science fair winner                          1
Women's health advocate                      1
Activists                                    1
Ocean scientist                              1
Pilot                                        1
Former governor of Michigan                  1
Environmental scientist                      1
Founder and Executive Director               1
Developmental and regeneration biologist     1
Imaging scientist                            1
Micro photographer                           1
Founder of Wikipedia                         1
Pediatric ICU doctor                         1
Human beatbox                                1
Name: major_occupation, Length: 1235, dtype: int64