In [1]:
import pandas

In [2]:
ted = pandas.read_csv('ted_main.csv')

In [3]:
type(ted.related_talks[0])

str

In [4]:
import ast

In [5]:
# convert the related-talk column into list format
# check the type of related_talks column 
ted['related_talks_list']= ted.related_talks.apply(lambda x: ast.literal_eval(x))

In [6]:
ted.related_talks_list[0]

[{'id': 865,
  'hero': 'https://pe.tedcdn.com/images/ted/172559_800x600.jpg',
  'speaker': 'Ken Robinson',
  'title': 'Bring on the learning revolution!',
  'duration': 1008,
  'slug': 'sir_ken_robinson_bring_on_the_revolution',
  'viewed_count': 7266103},
 {'id': 1738,
  'hero': 'https://pe.tedcdn.com/images/ted/de98b161ad1434910ff4b56c89de71af04b8b873_1600x1200.jpg',
  'speaker': 'Ken Robinson',
  'title': "How to escape education's death valley",
  'duration': 1151,
  'slug': 'ken_robinson_how_to_escape_education_s_death_valley',
  'viewed_count': 6657572},
 {'id': 2276,
  'hero': 'https://pe.tedcdn.com/images/ted/3821f3728e0b755c7b9aea2e69cc093eca41abe1_2880x1620.jpg',
  'speaker': 'Linda Cliatt-Wayman',
  'title': 'How to fix a broken school? Lead fearlessly, love hard',
  'duration': 1027,
  'slug': 'linda_cliatt_wayman_how_to_fix_a_broken_school_lead_fearlessly_love_hard',
  'viewed_count': 1617101},
 {'id': 892,
  'hero': 'https://pe.tedcdn.com/images/ted/e79958940573cc610ccb583619a54866c41ef303_2880x1620.jpg',
  'speaker': 'Charles Leadbeater',
  'title': 'Education innovation in the slums',
  'duration': 1138,
  'slug': 'charles_leadbeater_on_education',
  'viewed_count': 772296},
 {'id': 1232,
  'hero': 'https://pe.tedcdn.com/images/ted/0e3e4e92d5ee8ae0e43962d447d3f790b31099b8_800x600.jpg',
  'speaker': 'Geoff Mulgan',
  'title': 'A short intro to the Studio School',
  'duration': 376,
  'slug': 'geoff_mulgan_a_short_intro_to_the_studio_school',
  'viewed_count': 667971},
 {'id': 2616,
  'hero': 'https://pe.tedcdn.com/images/ted/71cde5a6fa6c717488fb55eff9eef939a9241761_2880x1620.jpg',
  'speaker': 'Kandice Sumner',
  'title': "How America's public schools keep kids in poverty",
  'duration': 830,
  'slug': 'kandice_sumner_how_america_s_public_schools_keep_kids_in_poverty',
  'viewed_count': 1181333}]

In [20]:
# check the first related talk, the id number is not the index number in the database
# therefore, we shall use the title name as reference 
ted[ted['title']== 'Bring on the learning revolution!']

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views,related_talks_list,related_talk_ids
692,1234,"In this poignant, funny follow-up to his fable...",1008,TED2010,1265414400,57,Ken Robinson,Ken Robinson: Bring on the learning revolution!,1,1274691960,"[{'id': 7, 'name': 'Funny', 'count': 3000}, {'...","[{'id': 66, 'hero': 'https://pe.tedcdn.com/ima...",Author/educator,"['TED Brain Trust', 'children', 'creativity', ...",Bring on the learning revolution!,https://www.ted.com/talks/sir_ken_robinson_bri...,7266316,"[{'id': 66, 'hero': 'https://pe.tedcdn.com/ima...","[66, 1738, 809, 892, 1232, 2728]"

In [26]:
# take a test function for the first record, to find the index in current database
for idx, title in enumerate(ted.title):
    for d in ted.related_talks_list[0]:
        if title == d['title']:            
            print(idx)

692
715
1023
1502
1991
2316

In [30]:
def get_related_talk_id(list_of_dicts):
    id_list = []
    for idx, title in enumerate(ted.title):
        for d in list_of_dicts:
            if title == d['title']:
                id_list.append(idx)
    return id_list

In [31]:
get_related_talk_id(ted.related_talks_list[0])

[692, 715, 1023, 1502, 1991, 2316]

In [32]:
# each talk has 6 related talks, however many of recommended talk ids are not in our database
ted['related_talk_ids'] = ted.related_talks_list.apply(lambda x: get_related_talk_id(x))
ted.related_talk_ids[:10]

0     [692, 715, 1023, 1502, 1991, 2316]
1     [214, 450, 1825, 2051, 2058, 2453]
2     [145, 370, 1340, 1488, 1989, 2359]
3    [836, 1644, 1817, 2513, 2514, 2535]
4       [117, 502, 726, 784, 1797, 2028]
5         [29, 47, 201, 888, 1996, 2537]
6               [8, 9, 43, 95, 260, 685]
7        [74, 202, 305, 603, 1829, 1932]
8          [9, 96, 204, 261, 1114, 1767]
9            [6, 8, 260, 261, 326, 1767]
Name: related_talk_ids, dtype: object

In [11]:
###  coorelations within related talks

In [42]:
import collections

In [44]:
related_to_first = ted.related_talk_ids[0]
for n in ted.related_talk_ids[0]:
    related_to_first = related_to_first + ted.related_talk_ids[n]
print(related_to_first)
print(len(related_to_first))
print(len(set(related_to_first)))
collections.Counter(related_to_first).most_common()

[692, 715, 1023, 1502, 1991, 2316, 0, 651, 715, 1023, 1502, 2426, 57, 280, 692, 1023, 1441, 1502, 171, 654, 692, 715, 1441, 1502, 0, 692, 1023, 1441, 1500, 2232, 0, 1493, 1983, 2232, 2285, 2445, 1498, 1500, 2154, 2165, 2285, 2445]
42
23

[(692, 4),
 (1023, 4),
 (1502, 4),
 (715, 3),
 (0, 3),
 (1441, 3),
 (1500, 2),
 (2232, 2),
 (2285, 2),
 (2445, 2),
 (1991, 1),
 (2316, 1),
 (651, 1),
 (2426, 1),
 (57, 1),
 (280, 1),
 (171, 1),
 (654, 1),
 (1493, 1),
 (1983, 1),
 (1498, 1),
 (2154, 1),
 (2165, 1)]

* the diff of between set and talk list is almost 50 percent, which means that many talks were recommended backward to the related talks for the first entry . build a function to compute the percentage of the overlappings

In [36]:
def comp_overlapping_percentage(related_talk_ids):
    related =related_talk_ids
    for n in related_talk_ids:
        related = related + ted.related_talk_ids[n]
    return (len(related) - len(set(related)))/float(len(related)) if len(related) else 0

In [37]:
comp_overlapping_percentage(ted.related_talk_ids[0])

0.4523809523809524

In [38]:
percentage_list = ted.related_talk_ids.apply(lambda x: comp_overlapping_percentage(x))

In [41]:
percentage_list.describe()

count    2550.000000
mean        0.247633
std         0.132972
min         0.000000
25%         0.142857
50%         0.238095
75%         0.333333
max         0.714286
Name: related_talk_ids, dtype: float64

In [45]:
ted[ted['main_speaker']== 'Ken Robinson']

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views,related_talks_list,related_talk_ids
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110,"[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...","[692, 715, 1023, 1502, 1991, 2316]"
692,1234,"In this poignant, funny follow-up to his fable...",1008,TED2010,1265414400,57,Ken Robinson,Ken Robinson: Bring on the learning revolution!,1,1274691960,"[{'id': 7, 'name': 'Funny', 'count': 3000}, {'...","[{'id': 66, 'hero': 'https://pe.tedcdn.com/ima...",Author/educator,"['TED Brain Trust', 'children', 'creativity', ...",Bring on the learning revolution!,https://www.ted.com/talks/sir_ken_robinson_bri...,7266316,"[{'id': 66, 'hero': 'https://pe.tedcdn.com/ima...","[0, 651, 715, 1023, 1502, 2426]"
833,473,"In this talk from RSA Animate, Sir Ken Robinso...",700,RSA Animate,1287014400,0,Ken Robinson,Ken Robinson: Changing education paradigms,1,1292773140,"[{'id': 24, 'name': 'Persuasive', 'count': 145...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['TED Brain Trust', 'business', 'children', 'd...",Changing education paradigms,https://www.ted.com/talks/ken_robinson_changin...,1854997,"[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",[692]
1502,634,Sir Ken Robinson outlines 3 principles crucial...,1151,TED Talks Education,1366675200,43,Ken Robinson,Ken Robinson: How to escape education's death ...,1,1368198532,"[{'id': 21, 'name': 'Unconvincing', 'count': 2...","[{'id': 66, 'hero': 'https://pe.tedcdn.com/ima...",Author/educator,"['culture', 'education', 'student', 'teaching'...",How to escape education's death valley,https://www.ted.com/talks/ken_robinson_how_to_...,6657858,"[{'id': 66, 'hero': 'https://pe.tedcdn.com/ima...","[0, 692, 1023, 1441, 1500, 2232]"

In [47]:
ted.iloc[1023]

comments                                                            155
description           Some kids learn by listening; others learn by ...
duration                                                            376
event                                                    TEDGlobal 2011
film_date                                                    1310428800
languages                                                            37
main_speaker                                               Geoff Mulgan
name                   Geoff Mulgan: A short intro to the Studio School
num_speaker                                                           1
published_date                                               1317136687
ratings               [{'id': 25, 'name': 'OK', 'count': 59}, {'id':...
related_talks         [{'id': 865, 'hero': 'https://pe.tedcdn.com/im...
speaker_occupation                                   Social commentator
tags                  ['creativity', 'culture', 'design', 'education...
title                                A short intro to the Studio School
url                   https://www.ted.com/talks/geoff_mulgan_a_short...
views                                                            667985
related_talks_list    [{'id': 865, 'hero': 'https://pe.tedcdn.com/im...
related_talk_ids                       [171, 654, 692, 715, 1441, 1502]
Name: 1023, dtype: object